<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <aside>
        <h2 class="title-aside">Publicaciones Recientes.</h2>
            <div class="post-style">
                <h2 class="title-post">Title</h2>
                <p class="description-post">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <div class="image-post">
                    <img class="image-style" src="../../assets/img/mascotas-perros-gatos_515959375_158488465_1706x960.jpg" alt="Publicacion"/>
                </div>
                <div class="details-post">
                    <a class="link-announcement" href="#">ver Anuncio</a>
                    <p class="time-post">Publicado hace 2h.</p>
                </div>
            </div>
            <div class="text-viewPost">
                <a href="#" class="links-viewPost">Ver todas las publicaciones..</a>
            </div>
    </aside>

    <main>
        <div id="container-profile-foundation">
            <div class="container-imagePort">
                <img class="image-port" src="../../assets/img/portada-38.jpg" alt="image-port" />
                    <div class="container-mediaSocial">
                        <img class="img-social" src="../../assets/img/huella-pata-perro_71328-278.jpg" alt="image-Media" />
                        <img class="img-social"  src="../../assets/img/huella-pata-perro_71328-278.jpg" alt="image-Media" />
                        <img class="img-social"  src="../../assets/img/huella-pata-perro_71328-278.jpg" alt="image-Media" />
                    </div>
            </div>
            <div class="container-descriptionprofile">
                <h1 class="title-NameFoundation">Name_Foundation</h1>
                <p class="p-descriptionFoundation">description:It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            </div>
            <div id="profile-photo">
                <img class="photo-foundation" src="../../assets/img/huella-pata-perro_71328-278.jpg" alt="photo-profile" />
            </div>
            <div class="btn-editprofile">
                <button><p>Edit Information</p></button>
            </div>
            
        </div>
    </main>

    <div class="line-hr">
        <hr />
    </div>

    <div class="btn-actions">
        <button class="btn-action"><p>Adopciones</p></button>
        <button class="btn-action"><p>Donar</p></button>
    </div>

    <section class="section-details">
        <div id="container-informationFoundation">
            <h2>Details</h2>
            <div class="location">
                    <p class="p-location">Location</p>
                    <div class="location-foundation">
                        <img class="img-location" src="../../assets/img/istockphoto-1193451471-612x612.jpg" alt="ubication-foundation" />
                    </div>
            </div>

            <div class="Description">
                <p class="p-description">Description</p>
                    <div class="description-foundation">
                        <input class="input-description" type="text" value="Descripcion de la Fundacion">
                    </div>
                </div>
        </div>
        <div class="btnDetails">
            <button class="btn-editDetails"><p>Edit_Details</p></button>
        </div>
    </section>


    <section class="container-postAd">
        <div id="contentPostAd">
            <h2 class="titlepublicar">Publicar Anuncio</h2>
            <div class="edit-anouncement">
                <div class="input-announcement">
                    <input class="input-post" type="text" value="Escribe algo."/>
                </div>
                <div class="btn-actionannouncement">
                    <button class="btn-action">eliminar</button>
                    <button class="btn-action">URL</button >
                    <button class="btn-action">Archivo</button>
                </div>
            </div>
            <div class="btn-AdPost">
                <button class="btn-action">Subir Post</button>
            </div>
        </div>
    </section>




    
    <footer>
        <div id="container-footer">
            <p class="text-copyright">@copyright</p>
            <p class="text-business">By Neoritic Jac Devs</p>
        </div>
    </footer>
</body>
</html>