<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"></script>
   </head>
<body>
  <div class="sidebar close">
    <div class="logo-details">
      <i class="fas fa-paw"></i>
      <span class="logo_name">Animal Paws</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="#">
          <i class='bx bx-grid-alt' ></i>
          <span class="link_name" id="blocked">Panel De Control</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#" id="blocked">Panel</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-collection' ></i>
            <span class="link_name" id="blocked">Categorias</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#" id="blocked">Categorias</a></li>
          <li><a href="#" id="blocked">Adopciones</a></li>
          <li><a href="#" id="blocked">Donaciones</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class="fas fa-shield-alt"></i>
            <span class="link_name" id="blocked">Administrar</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#" id="blocked">Administrar</a></li>
          <li><a href="#" id="blocked">Anuncios</a></li>
          <li><a href="#" id="blocked">Fundaciones</a></li>
          <li><a href="#" id="blocked">Reportes</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-pie-chart-alt-2' ></i>
          <span class="link_name" id="blocked">Estadisticas</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#" id="blocked">Estadisticas</a></li>
        </ul>
      </li>
      <li>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Chart</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class="fas fa-plus"></i>
            <span class="link_name">Crear</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Crear</a></li>
          <li><a href="#">Anuncio</a></li>
          <li><a href="#" id="blocked">Actualizacion</a></li>
          <li><a href="#" id="blocked">Noticias</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-search"></i>
          <span class="link_name" id="blocked">Buscar</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#" id="blocked">Buscar</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-user"></i>
          <span class="link_name">Mi Perfil</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Mi Perfil</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-cog' ></i>
          <span class="link_name" id="blocked">Configuracion</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#" id="blocked">Configuracion</a></li>
        </ul>
      </li>
      <li>
    <div class="profile-details">
      <div class="profile-content">
      </div>
      <div class="name-job">
        <div class="profile_name">Julian Lozada</div>
        <div class="job">Administrador</div>
      </div>
      <i class='bx bx-log-out' routerLink="/home" ></i>
    </div>
  </li>
</ul>
  </div>
  <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      <span class="text">Anuncios Recientes</span>
    </div>
    <img src="https://i.imgur.com/z9dl5un.png" alt="">
  </section>
  <script>
  let arrow = document.querySelectorAll(".arrow");
  for (var i = 0; i < arrow.length; i++) {
    arrow[i].addEventListener("click", (e)=>{
   let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
   arrowParent.classList.toggle("showMenu");
    });
  }
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".bx-menu");
  console.log(sidebarBtn);
  sidebarBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("close");
  });
  </script>
</body>
</html>
