<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
</style>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:wght@700&display=swap');
</style>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"></script>
  </head>
  <body>
    <nav>
      <ul class="nav-list">
        <li class="nav-item">
          <h1 id="an">Animal<span>Paws</span></h1></li>
        <li class="nav-item">
          <a routerLink="/home" id="an">Inicio</a>
        </li>
        <li class="nav-item">
          <a routerLink="/announcement"><span>Anuncios</span></a>
        </li>
        <li class="nav-item">
          <a routerLink="/about-us"><span>Sobre Nosotros</span></a>
        </li>
      </ul>
   