<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav>
    <ul>
      <li><a routerLink="*"><p class="p-nav">Home</p></a></li>
      <li><a routerLink="/profile"><p class="p-nav">Profile</p></a></li>
      <li><a routerLink="/information"><p class="p-nav">Information</p></a></li>
      <li><a routerLink="/news"><p class="p-nav">News</p></a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</body>
</html>