body{
    background-color: #292929;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}
span{
    color: #4b3e48;
}
#an{
    color: #46b6c2;
}
:root {
    --clr-primary: #6aeeb5;
    --clr-primary-hover: #29e6a7;
    --clr-primary-dark: #039d69;
    --clr-gray100: #f0f7f8;
    --clr-gray200: #cfd8dc;
    --radius: 0.2rem;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  body {
    font-family: Montserrat, sans-serif;
    background: var(--clr-gray100);
  }
  
  .nav-list {
    background: white;
    box-shadow: 0px 0px 10px var(--clr-gray200);
    padding: 1rem 0;
    border-radius: var(--radius);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .nav-item {
    list-style: none;
    margin-right: 2rem;
  }
  
  .nav-item a {
    text-decoration: none;
    color: black;
    transition: all 200ms ease-in;
  }
  
  .nav-item a:hover {
    color: var(--clr-primary-dark);
  }
  
  .nav-item:first-child {
    margin-right: auto;
    margin-left: 2rem;
  }
  
  .btn-primary {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    background: var(--clr-primary);
    border: none;
    outline: none;
    border-radius: var(--radius);
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 200ms ease-in;
  }
  
  .btn-primary:hover {
    background: var(--clr-primary-hover);
  }
section{
    background-color: #393E46;
    color: #fff;
}
img{
    height: 470px;
    width: 470px;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    align-content: center;
}
h3{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}
p{
    text-align: center;
}
.ig{
    align-items: center;
    align-content: center;
    text-align: center;
}