<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <header>
    <div>
        <h1 class="APL">ANIMAL PAWS</h1>
    </div>
    <div class="DIVAP">
        <nav>
            <ul>
                <li><fa-icon [icon]="faHouse"></fa-icon><a routerLink="/Home">{{"Home" | translate}}</a></li>
                <li><fa-icon [icon]="faInfo"></fa-icon><a routerLink="/about-us">{{"About-us" | translate}}</a></li>
                <li><fa-icon [icon]="faNewspaper"></fa-icon><a routerLink="/news">{{"News" | translate}}</a></li>
                <li><fa-icon [icon]="faUser"></fa-icon><a routerLink="/login">{{"Login" | translate}}</a></li>
            </ul>
        </nav>
    </div>
</header>
    <div class="container">
        <div class="card">
          <div class="box">
            <div class="content">
              <h2>1.0</h2>
              <h3>Notas Del Parche 1.0</h3>
              <p>Descubre las nuevas actualizaciones que ha recibido Animal Paws</p>
              <a href="#">Leer Mas</a>
            </div>
          </div>
        </div>
      
        <div class="card">
          <div class="box">
            <div class="content">
              <h2>1.2</h2>
              <h3>Notas Del Parche 1.2</h3>
              <p>Descubre las nuevas actualizaciones que ha recibido Animal Paws</p>
              <a href="#">Leer Mas</a>
            </div>
          </div>
        </div>
      
        <div class="card">
          <div class="box">
            <div class="content">
              <h2>1.3</h2>
              <h3>Notas Del Parche 1.3</h3>
              <p>Descubre las nuevas actualizaciones que ha recibido Animal Paws</p>
              <a href="#">Leer Mas</a>
            </div>
          </div>
        </div>
      </div>
