<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="split-screen">
        <div class="left">
        <section class="copy">
            <img src="https://media.discordapp.net/attachments/907641343185137740/914738953431687208/AnimalPawsLogo.png?width=349&height=349" alt="">
            <h1 id="first">Por Nosotros Para Ellos</h1>
        </section>
    </div>
    <div class="right">
        <form>
            <section class="copy">
                <h2>Registrate</h2>
                <div class="login-container">
                    <p>¿Ya Tienes Una Cuenta Animal Paws?</p>
                    <p><strong><a routerLink="/login"> Inicia Sesion</a></strong></p>
                </div>
            </section>
            <div class="input-conatiner name">
                <label for="fname">Nombres</label>
                <input id="fname" name="fname" type="text">
            </div>
            <div class="input-conatiner enail">
                <label for="email">Email</label>
                <input id="email" name="email" type="email">
            </div>
            <div class="input-conatiner password">
                <label for="password">Contraseña</label>
                <input id="password" name="password" type="password" placeholder="Mayor A 6 Caracteres">
                <i class="far fa-eye-slash"></i>
            </div>
            <div class="input-container cta">
            </div>
            <button class="signup-btn" type="submit">Registrate</button>
            <section class="copy legal">
                <p><span class="small">Al Registrate En Animal Paws Aceptas Nuestra <a href="">Politica De Privacidad</a> &amp; <a href="">Terminos Y Condiciones</a> Propuestos.</span></p>
            </section>
        </form>
        </div>
    </div>
</body>
</html>