<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <main>
        <div id="container-information">
            <h2 class="name-foundation">Name Foundation</h2>
            <div class="description-foundation">
                <h3 class="title-foundation">Who is?</h3>
                
                <div class="containerImage-foundation">
                    <img class="image-foundation" src="../../assets/img/Rescate-Animal.jpg" alt="imge-foundation" />  
                <div class="description-information">
                    <p>Description: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <p>Description: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
                
                </div>
            </div>
            <div id="btn-edit">
                <button><p>Edit Info</p></button>
            </div>
        </div>
        
    <div>
        <hr />
    </div>

        <div id="container-services">
            <h2 class="title-services">Contamos con servicios como: </h2>
            <div>
                <table cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td>
                            <h2 class="title-service">Tienda</h2>
                            <div>
                            <img src="../../assets/img/mascotas-perros-gatos_515959375_158488465_1706x960.jpg" alt="img"/>
                            <br />
                            <p>Shop</p>
                            </div>
                            
                        </td>
                        <td>
                            <h2 class="title-service">Adopcion de Mascotas</h2>
                            <div>
                                <img src="../../assets/img/mascotas-perros-gatos_515959375_158488465_1706x960.jpg" alt="img"/>
                                <br />
                                <p>Adoptar</p>
                            </div>
                        </td>
                        <td>
                            <h2 class="title-service">Jornadas</h2>
                            <div>
                                <img src="../../assets/img/mascotas-perros-gatos_515959375_158488465_1706x960.jpg" alt="img"/>
                                <br />
                                <p>Journeys
                                </p>
                            </div>
                        </td>
                    </tr>
                </table>
                
                
            <div id="btn-edit">
                <button><p>Edit Services</p></button>
            </div>

            </div>
        </div>

    <div>
        <hr />
    </div>

    <div id="container-contact">
        <h2 class="contact-title">Contactanos</h2>
        <div>
            <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td>
                        <p class="tipe-contact">Telefonos</p>
                        <div>
                            <p class="p-contact">+432093283</p>
                            <p class="p-contact">+32873918</p>
                            <p class="p-contact">+803182329</p>
                        </div>
                    </td>
                    <td>
                        <p class="tipe-contact">Correos</p>
                        <div>
                            <p class="p-contact">@ahiodweoi</p>
                            <p class="p-contact">@ahiohdaois</p>
                            <p class="p-contact">@aijsdioa</p>
                        </div>
                    </td>
                    <td>
                        <p class="tipe-contact">Location</p>
                        <div>
                            <p class="p-contact">donde nos encuentras?</p>
                            <p class="p-contact">Calle Nrt. Av.34</p>
                            <p class="p-contact">B/ boyacanes</p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        
        
        <div id="btn-edit">
            <button><p>Edit Contact</p></button>
        </div>
    </div>

</main>

    <footer>
        <div id="container-footer">
            <p class="text-copyright">@copyright</p>
            <p class="text-business">By Neoritic Jac Devs</p>
        </div>
    </footer>

</body>
</html>

