<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"></script>
    <title>Contact Form</title>
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <span class="big-circle"></span>
      <img src="img/shape.png" class="square" alt="" />
      <div class="form">
        <div class="contact-info">
          <h3 class="title">Crea Tu Anuncio Y Compartelo Con El Mundo</h3>
          <p class="text">
            Crea un anuncio y compartelo con miles de usuarios los cuales estaran dispuestos a ayudarte.
          </p>
          <div class="social-media">
            <p>Escoge Una Categoria:</p>
            <div class="social-icons">
              <a href="#">
                <i class="fas fa-paw"></i>
              </a>
              <a href="#">
                <i class="fas fa-coins"></i>
              </a>
              <a href="#">
                <i class="fas fa-plus"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="contact-form">
          <span class="circle one"></span>
          <span class="circle two"></span>

          <form action="index.html" autocomplete="off" #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
            <h3 class="title">Crea Tu Anuncio</h3>
            <div class="input-container">
              <h5>Titulo</h5>
              <div class="none">i</div>
              <input type="text" name="titulo" class="input" ngModel/>
              <label></label>
              <span>Username</span>
            </div>
            <div class="input-container">
              <h5>Imagen</h5>
              <div class="none">i</div>
              <input type="email" name="imagen" class="input" ngModel/>
              <label for=""></label>
              <span>Email</span>
            </div>
            <div class="input-container textarea">
              <h5>Descripcion</h5>
              <div class="none">i</div>
              <textarea name="descripcion" class="input" ngModel></textarea>
              <label for=""></label>
              <span>Message</span>
            </div>
            <input type="submit" value="Subir Anuncio" class="btn"/>
          </form>
        </div>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>