<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header class="page-header">
    <div class="top-row">
      <div class="menu-wrap">
        <a href="#" class="menu-switcher" aria-label="Toggle main menu">
        </a>
      </div>
      <div class="logo-wrap">
        <a href="#" class="logo">
          <img class="logo" src="../../assets/img/logo.png" alt="AP LOGO">
        </a>
      </div>
      <nav class="top-row-toolbar">
        <a href="#"><fa-icon [icon]="faMoon"></fa-icon></a>
        <a href="#"><fa-icon [icon]="faLanguage"></fa-icon></a>
        <a routerLink="/SignUp"><fa-icon [icon]="faUser"></fa-icon></a>
      </nav>
    </div>
    <nav class="main-nav">
      <a href="#"><fa-icon [icon]="faNewspaper"></fa-icon> {{"UPD" | translate}}</a>
      <a href="#"><fa-icon [icon]="faWrench"></fa-icon> {{"FUN" | translate}}</a>
      <a href="#"><fa-icon [icon]="faHashtag"></fa-icon> {{"AS" | translate}}</a>
      <a href="#"><fa-icon [icon]="faEyeslash"></fa-icon> {{"Preview" | translate}}</a>
    </nav>
  </header>

  <div class="contenido-section">
    <div class="caja">
      <div class="parrafo">
        <p class="p1">Conviertete en un contribuidor</p>
        <p class="p2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur facere perferendis porro blanditiis recusandae iure minima, saepe impedit. Neque magnam dolor libero minima similique? Molestias impedit soluta reiciendis facere obcaecati!
        Ducimus tempore totam quas magni sunt assumenda odit. Aut, ipsa fugit laudantium minima aliquid commodi! Magni quibusdam mollitia, corrupti, autem dolore beatae sit, cum modi temporibus nobis facere repellat asperiores!
        Natus nostrum est eveniet! Ducimus molestias consequuntur ipsam eius repellendus voluptatum iure voluptatibus nobis hic corporis, est nostrum dolor, obcaecati quidem laborum sed dolore sequi, animi id incidunt tempora vel?
        Sint dolorem eaque reiciendis quam odit rem id dicta maxime sed, doloremque ad? Adipisci, voluptatem saepe ut reprehenderit ad libero rerum aspernatur accusamus rem quos? Vel voluptas nihil doloribus at!
        Excepturi ducimus dolores delectus tenetur est molestias amet officiis. Esse, dicta? A aut ipsam error, consequatur quisquam dolorem totam ipsum est ipsa atque ducimus odio minima reiciendis, amet aperiam? Facere.</p>
      </div>
      <div class="center-img">
        <div class="imagen">
          <img src="../../assets/img/img-prueba.jpg" alt="imagen de prueba" class="img">
        </div>
      </div>
    </div>

    <div class="caja">
      <div class="center-img">
        <div class="imagen">
          <img src="../../assets/img/img-prueba.jpg" alt="imagen de prueba" class="img">
        </div>
      </div>
      <div class="parrafo">
        <p class="p1">Mayor alcance</p>
        <p class="p2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur facere perferendis porro blanditiis recusandae iure minima, saepe impedit. Neque magnam dolor libero minima similique? Molestias impedit soluta reiciendis facere obcaecati!
        Ducimus tempore totam quas magni sunt assumenda odit. Aut, ipsa fugit laudantium minima aliquid commodi! Magni quibusdam mollitia, corrupti, autem dolore beatae sit, cum modi temporibus nobis facere repellat asperiores!
        Natus nostrum est eveniet! Ducimus molestias consequuntur ipsam eius repellendus voluptatum iure voluptatibus nobis hic corporis, est nostrum dolor, obcaecati quidem laborum sed dolore sequi, animi id incidunt tempora vel?
        Sint dolorem eaque reiciendis quam odit rem id dicta maxime sed, doloremque ad? Adipisci, voluptatem saepe ut reprehenderit ad libero rerum aspernatur accusamus rem quos? Vel voluptas nihil doloribus at!
        Excepturi ducimus dolores delectus tenetur est molestias amet officiis. Esse, dicta? A aut ipsam error, consequatur quisquam dolorem totam ipsum est ipsa atque ducimus odio minima reiciendis, amet aperiam? Facere.</p>
      </div>
    </div>

    <div class="caja">
      <div class="parrafo">
        <p class="p1">Sin costo de comision</p>
        <p class="p2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur facere perferendis porro blanditiis recusandae iure minima, saepe impedit. Neque magnam dolor libero minima similique? Molestias impedit soluta reiciendis facere obcaecati!
        Ducimus tempore totam quas magni sunt assumenda odit. Aut, ipsa fugit laudantium minima aliquid commodi! Magni quibusdam mollitia, corrupti, autem dolore beatae sit, cum modi temporibus nobis facere repellat asperiores!
        Natus nostrum est eveniet! Ducimus molestias consequuntur ipsam eius repellendus voluptatum iure voluptatibus nobis hic corporis, est nostrum dolor, obcaecati quidem laborum sed dolore sequi, animi id incidunt tempora vel?
        Sint dolorem eaque reiciendis quam odit rem id dicta maxime sed, doloremque ad? Adipisci, voluptatem saepe ut reprehenderit ad libero rerum aspernatur accusamus rem quos? Vel voluptas nihil doloribus at!
        Excepturi ducimus dolores delectus tenetur est molestias amet officiis. Esse, dicta? A aut ipsam error, consequatur quisquam dolorem totam ipsum est ipsa atque ducimus odio minima reiciendis, amet aperiam? Facere.</p>
      </div>
      <div class="center-img">
        <div class="imagen">
          <img src="../../assets/img/img-prueba.jpg" alt="imagen de prueba" class="img">
        </div>
      </div>
    </div>

    <div class="caja">
      <div class="center-img">
        <div class="imagen">
          <img src="../../assets/img/img-prueba.jpg" alt="imagen de prueba" class="img">
        </div>
      </div>
      <div class="parrafo">
        <p class="p1">Mayor interaccion</p>
        <p class="p2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur facere perferendis porro blanditiis recusandae iure minima, saepe impedit. Neque magnam dolor libero minima similique? Molestias impedit soluta reiciendis facere obcaecati!
        Ducimus tempore totam quas magni sunt assumenda odit. Aut, ipsa fugit laudantium minima aliquid commodi! Magni quibusdam mollitia, corrupti, autem dolore beatae sit, cum modi temporibus nobis facere repellat asperiores!
        Natus nostrum est eveniet! Ducimus molestias consequuntur ipsam eius repellendus voluptatum iure voluptatibus nobis hic corporis, est nostrum dolor, obcaecati quidem laborum sed dolore sequi, animi id incidunt tempora vel?
        Sint dolorem eaque reiciendis quam odit rem id dicta maxime sed, doloremque ad? Adipisci, voluptatem saepe ut reprehenderit ad libero rerum aspernatur accusamus rem quos? Vel voluptas nihil doloribus at!
        Excepturi ducimus dolores delectus tenetur est molestias amet officiis. Esse, dicta? A aut ipsam error, consequatur quisquam dolorem totam ipsum est ipsa atque ducimus odio minima reiciendis, amet aperiam? Facere.</p>
      </div>
    </div>
    <div class="h2">
      <p>¿Quieres ser contribuidor?</p>
      <p>Contactanos</p>
    </div>
  </div>
  <!--<footer class="main-footer">
    <div class="container">
      <ul class="social media">
        <li>
          <a href="#"><svg>
              <use href="images/sprites.svg#facebook"></use>
            </svg></a>
        </li>
        <li>
          <a href="#"><svg>
              <use href="images/sprites.svg#twitter"></use>
            </svg></a>
        </li>
        <li>
          <a href="#"><svg>
              <use href="images/sprites.svg#instagram"></use>
            </svg></a>
        </li>
        <li>
          <a href="#"><svg>
              <use href="images/sprites.svg#tumblr"></use>
            </svg></a>
        </li>
        <li>
          <a href="#"><svg>
              <use href="images/sprites.svg#pinterest"></use>
            </svg></a>
        </li>
        <li>
          <a href="#"><svg>
              <use href="images/sprites.svg#youtube"></use>
            </svg></a>
        </li>
        <li>
          <a href="#"><svg>
              <use href="images/sprites.svg#vimeo"></use>
            </svg></a>
        </li>
        <li>
          <a href="#"><svg>
              <use href="images/sprites.svg#wechat"></use>
            </svg></a>
        </li>
      </ul>
      <div class="footer-nav-container">
        <nav class="footer-nav">
          <a href="#">{{"BCM" | translate}}</a>
          <a href="#">{{"AUS" | translate}}</a>
          <a href="#">{{"CUS" | translate}}</a>
          <a href="#">{{"PRV" | translate}}</a>
          <a href="#">{{"TRM" | translate}}</a>
          <a routerLink="/Contribuitor">{{"CTR" | translate}}</a>
          <a href="#">{{"VDDD" | translate}}</a>
        </nav>
      </div>
      <ul class="footer-bottom">
        <li>
          <a href="#">Ⓒ 2022 Animal Paws</a>
        </li>
        <li>
          <a href="#">Ⓒ 2022 Neoritic Jac Devs. {{"COPY" | translate}}</a>
        <li>
          <a href="https://github.com/nataliakiselev">{{"DSG" | translate}} Natalia Kiselev</a>
        </li>
      </ul>
    </div>
  </footer>-->
</body>
</html>
