<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="hero">
        <nav>
            <h1>Animal<span>Paws</span></h1>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a routerLink="/about-us">Sobre Nosotros</a></li>
                <li><a routerLink="/nDA">Noticias WIP</a></li>
                <li><a routerLink="/login">Inicia Sesion</a></li>
            </ul>
        </nav>
        <div class="detel">
            <h1>Por Un Mejor <span>Futuro</span></h1>
            <p>Dona, adopta y ayuda a un monton de animales <br> los cuales buscan de un hogar</p>
            <a routerLink="/login">Registrate Ahora</a>
        </div>
        <div class="images">
            <img src="https://media.discordapp.net/attachments/907641343185137740/917216633347510323/shape.png?width=414&height=468" class="shape">
            <img src="https://pngimg.com/uploads/dog/dog_PNG50374.png" class="girl">
        </div>

        <div class="social">
           <a href="https://www.facebook.com/AnimalPawsColombia"><i class="fab fa-facebook"></i></a>
           <a href="https://twitter.com/Ex1Kx"><i class="fab fa-twitter"></i></a>
           <a href="https://github.com/Ex1Kx/AnimalPawsBackEnd.cs"><i class="fab fa-github"></i></a>
        </div>
    </div>
</body>
</html>
            