<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
    <div>
        <h1 class="APL">ANIMAL <span>PAWS</span></h1> <hr>
    </div>
    <div class="DIVAP">
        <nav>
            <ul>
                <li><fa-icon [icon]="faHouse"></fa-icon><a routerLink="/Home">{{"Home" | translate}}</a></li>
                <li><fa-icon [icon]="faAddressCard"></fa-icon><a routerLink="/About">{{"About-us" | translate}}</a></li>
                <li><fa-icon [icon]="faNewspaper"></fa-icon><a routerLink="/news">{{"News" | translate}}</a></li>
                <li><fa-icon [icon]="faEyeSlash"></fa-icon><a routerLink="/login">{{"Preview" | translate}}</a></li>
                <li><fa-icon [icon]="faUser"></fa-icon><a routerLink="/login">{{"Login" | translate}}</a></li>
            </ul>
        </nav> <hr>
    </div>
</header>
<main>   
   <div class="right">
    <h1>{{"AFTU"  | translate}}</h1>
    <h1>{{"WITTH"  | translate}}</h1>
</div>
<div class="left"></div>
</main>
</body>
</html>