<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
    <div>
        <h1 class="APL">ANIMAL PAWS</h1>
    </div>
    <div class="DIVAP">
        <nav>
            <ul>
                <li><fa-icon [icon]="faHouse"></fa-icon><a href="#">{{"Home" | translate}}</a></li>
                <li><fa-icon [icon]="faInfo"></fa-icon><a routerLink="/about-us">{{"About-us" | translate}}</a></li>
                <li><fa-icon [icon]="faNewspaper"></fa-icon><a routerLink="/news">{{"News" | translate}}</a></li>
                <li><fa-icon [icon]="faUser"></fa-icon><a routerLink="/login">{{"Login" | translate}}</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>   
    <img src="https://cdn.discordapp.com/attachments/925024576210083882/950187068141744190/background.png" alt="" class="IMGMAIN">
    <h1 class="FUTLO">{{"AFTU" | translate}}</h1>
    <h5 class="FUTLOH">{{"WITTH" | translate}}</h5>
    <h5 class="FUTTLOH">{{"FUTTLOH" | translate}}</h5>
    <div id="btn1"><button class="button" style="vertical-align:middle"><span>{{"BTNDA" | translate}}</span></button></div>
</main>
</body>
</html>
            