<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
</head>
<body>
    <main>
        <div class="news-foundation">
            <h2 class="h2-titleNews">Novedades recientes.</h2>
            <div class="text-News">
                <h2 class="text-service">Tienda.</h2>
                <p class="text-descriptionService">Llegaron productos nuevos.</p>
            </div>
                <table cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td>
                            <div>
                                <img class="image-sevices" src="../../assets/img/mascotas-perros-gatos_515959375_158488465_1706x960.jpg" alt="product-1"/>
                                <br />
                            </div>
                        </td>
                        <td>
                            <div>
                                <img class="image-sevices" src="../../assets/img/mascotas-perros-gatos_515959375_158488465_1706x960.jpg" alt="Product-2"/>
                                <br />
                            </div>
                        </td>
                        <td>
                            <div>
                                <img class="image-sevices" src="../../assets/img/mascotas-perros-gatos_515959375_158488465_1706x960.jpg" alt="Product-3"/>
                                <br />
                            </div>
                        </td>
                    </tr>
                </table>

                
                <div class="btn-editnews">
                    <button><p>Edit-Section</p></button>
                </div>
        </div>



        
        <div class="news-service2">
            <div class="text-News">
                <h2 class="text-service">Adopciones</h2>
                <p class="text-descriptionService">Tenemos nuevas mascotas para dar en adopcion.</p>
            </div>
                <table cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td>
                            <div class="serviceTwo">
                                <img src="../../assets/img/1615579468133-1-2-bm-Cuidado-de-mascota.jpg" alt="product-1"/>
                                <br />
                                
                                <div class="container-link">
                                    <a class="link-serviceTwo"
                                href="#">Ver</a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="serviceTwo">
                                <img src="../../assets/img/1615579468133-1-2-bm-Cuidado-de-mascota.jpg" alt="Product-2"/>
                                <br />
                                
                                <div class="container-link">
                                    <a class="link-serviceTwo"
                                href="#">Ver</a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="serviceTwo">
                                <img src="../../assets/img/1615579468133-1-2-bm-Cuidado-de-mascota.jpg" alt="Product-3"/>
                                <br />
                                <div class="container-link">
                                    <a class="link-serviceTwo"
                                href="#">Ver</a>
                                </div>

                            </div>
                        </td>
                    </tr>
                </table>
                
            <div class="btn-editnews">
                <button><p>Edit-Section</p></button>
            </div>
        </div>
        
        <div class="news-service3">
            <aside>
                <div class="card-service3">
                    <img class="image-foundation" src="../../assets/img/huella-pata-perro_71328-278.jpg" alt="imge-foundation" /> 
                    <h2 class="text-nameFoundation">NameFoundation.</h2>
                </div>
            </aside>
            <div class="text-News3">
                <h2 class="text-service3">Jornada de alimentacion en la calle.</h2>
                <p class="text-descriptionService3">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
            </div>
            <div class="btn-editnews">
                <button><p>Edit-Section</p></button>
            </div>
        </div>
    </main>
    <footer>
        <div id="container-footer">
            <p class="text-copyright">@copyright</p>
            <p class="text-business">By Neoritic Jac Devs</p>
        </div>
    </footer>
</body>
</html>