body{
    margin: 0%;
}

main{
    margin-bottom: 3%;
    border: 0px #000000 solid;
}
/*Container News.*/
.news-foundation{
    border: 0px red solid;
    margin: 1%;
}
.h2-titleNews{
    margin: 2%;
    font-size: 35px;
    color: #1a9b9bd8;
}
.text-News{
    border: 0px red solid;
    margin: 1%;
}
.text-service{
    border: 0px red solid;
    margin: 1%;
    color: #1a9b9bd8;
    font-size: 32px;
}
.text-descriptionService{
    border: 0px red solid;
    margin-left: 2%;
    width: 95%;
    font-size: 25px;
}
/*-----------------------*/
/*Table Services*/
table {
    border: 0px red solid;
    padding: 1px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
td {
    padding-bottom: 20px;
}
img {
    border: 1px #49484869 solid;
    margin-top: 4%;
    width: 70%;
    height: 200px;
}
img:hover{
    filter: grayscale(20%);
}
.image-sevices{
    border: 1px #49484869 solid;
    margin-top: 4%;
    width: 70%;
    height: 200px;
}

.image-sevices:hover{
    transform: scale(1.1);
    filter: drop-shadow(11px 11px 15px #66676894);
}
/*End Table Service*/
/*-----------------------*/
.news-service2{
    border: 0px red solid;
    margin-top: 3%;
    margin: 1%;
}
.serviceTwo{
    border: 1px #62626286 solid;
    background-color: #1a9b9b8a;
    margin-right: 5%;
    margin-top: 6%;
    margin-left: 5%;
    margin-bottom: 6%;
    border-radius: 6px;
}
.serviceTwo:hover{
    border: 1px #f1f1f191 solid;
    background-color: #1a9b9b8a;
}
.container-link{
    width: 100%;
    display: flex;
    justify-content: right;
}
.link-serviceTwo{
    margin: 6%;
    color: black;
    text-decoration:none;
    cursor: pointer;
}
.link-serviceTwo:hover{
    color: #ffffff;
}

.news-service3{
    border:0px #000000 solid;
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 3%;
}
.text-News3{
    margin: 1%;
    width: 60%;
    border:0px black solid;
}
.text-service3{
    border: 0px red solid;
    margin: 1%;
    color: #1a9b9bd8;
    font-size: 32px;
}
.text-descriptionService3{
    border: 0px red solid;
    margin-left: 2%;
    width: 95%;
    font-size: 25px;
}

aside{
    border: 0px red solid;
    float: right;
    width: 35%;
    height: 200px;
    display: flex;
    justify-content: center;
}
.card-service3{
    margin: 1%;
}
.image-foundation{
    border: 0px red solid;
    width: 60%;
    height: 105px;
    display: flex;
    margin: 0px auto;
    margin-top: 3%;
}
.text-nameFoundation{
    color: #1a9b9bd8;
    font-size: 30px;
}
.btn-editnews{
    border: 0px red solid;
    margin: 3%;
    display: flex;
    justify-content: right;
}
/*Footer*/
    footer{
        background-color: #1db1b1ab;
        border: 0px red solid;
        width: 100%;
        height: 10vw;
        display: flex;
        justify-content: center;
    }
    #container-footer{
        border: 0px red solid;
        width: 25%;
    }
    .text-copyright, .text-business{
        text-align: center;
        margin: 8%;
    }
    /*End-Footer*/
    