<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header class="page-header">
    <div class="top-row">
      <div class="menu-wrap">
        <a href="#" class="menu-switcher" aria-label="Toggle main menu">
          <i aria-hidden="true"></i>
          <i aria-hidden="true"></i>
          <i aria-hidden="true"></i>
        </a>
      </div>
      <div class="logo-wrap">
        <a href="#" class="logo">
          <h1 class="aplogo">ANIMAL <span class="sp">PAWS</span></h1>
        </a>
      </div>
      <nav class="top-row-toolbar">
        <a href="#"><i class="icon-loupe"></i></a>
        <a href="#"><i class="icon-play"></i></a>
        <a routerLink="/SignUp"><i class="icon-user"></i></a>
      </nav>
    </div>

    <nav class="main-nav">
      <a href="#">{{"UPD" | translate}}</a>
      <a href="#">{{"FUN" | translate}}</a>
      <a href="#">{{"AS" | translate}}</a>
      <a href="#">{{"Preview" | translate}}</a>
    </nav>
  </header>
  <section>
    
  </section>
</body>
</html>
